In [7]:
import pandas as pd

df_reviews = pd.read_csv("20191226-reviews.csv")

df_reviews.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [9]:
df_reviews[df_reviews["verified"]]

,asin,name,rating,date,verified,title,body,helpfulVotes
14,B0009N5L7K,Marcel Thomas,1,"March 5, 2016",True,Stupid phone,DON'T BUY OUT OF SERVICE,NaN
17,B0009N5L7K,Stephen Cahill,1,"December 20, 2016",True,Phones locked,1 star because the phones locked so I have to ...,NaN
18,B0009N5L7K,Mihir,5,"December 13, 2009",True,Excellent product,The product has been very good. I had used thi...,NaN
21,B000SKTZ0S,Thomas,4,"September 17, 2010",True,"Nice, but",I bought this phone to replace an LG phone tha...,NaN
22,B000SKTZ0S,"Kei, San Jose, CA",1,"May 13, 2017",True,It seems it doesn't work with the existing AT&...,I purchased this phone for my AT&T phone repla...,NaN
...,...,...,...,...,...,...,...,...
67974,B081H6STQQ,Pierre,3,"October 3, 2019",True,I'm not impressed,For this price you get a good display and a ma...,1.0
67975,B081H6STQQ,thomas,5,"October 15, 2019",True,Great phone,"Love this phone, been using it for a month now...",NaN
67976,B081H6STQQ,Eduardo T.,5,"August 11, 2019",True,Love it,Best phone from Sony so far,NaN
67977,B081H6STQQ,Dean,5,"July 23, 2019",True,that it works,"I love it for what I use it for, the battery l...",NaN
67984,B081TJFVCJ,Tobiasz Jedrysiak,5,"December 24, 2019",True,Phone is like new,Product looks and works like new. Very much re...,NaN